<%- include('header') -%>
  <div id="texts">

    <div id="toJoin">
      <h2>Visit this page on your phone to join</h2>
    </div>

    <div id='ranksDiv'>
      <ol id='ranks'></ol>
    </div>

  </div>

  <script src="ranking.js"></script>
  <script src="sketchOut.js"></script>

  <%- include('footer') -%>
