<div id="mobileInput">
  <script src="sketchIn.js"></script>
  <div id="title">
  </div>
  <div>
    <h3 id="instruction">
    Please submit your name to join:
  </h3>
  </div>
  <div id="divInputArea">
    <form>
      <input id="nameInputArea" type="text" name="YourName">
      <input type="button" value="Submit" onclick="submitUserName()">
    </form>
  </div>
  <div>
    <h1 id="stopWatch"></h1>
  </div>
</div>

<script>
$('#mobileInput').appendTo('#inputOrGoToPhone');
</script>
