<!-- <script src="redirect_mobile_lib.js"></script>

<script>
  let mobileUrl = window.location.href.replace('https://', '') + 'mobile';
  console.log(mobileUrl);
  SA.redirection_mobile({
  mobile_url : mobileUrl,
});
</script> -->




<script src="./detectmobile.js"></script>
<script>
  try {
    // This is the URL where mobile
    let mobileUrl = window.location.href.replace('https://', '') + 'mobile';
    console.log(mobileUrl)
    detectmobile.defaultMobileURL = mobileUrl;
    detectmobile.process();
  } catch (e) {
    console.log(e);
    // Make sure that in the fault modes
    // we do not interrupt execution of other Javascript code
  }
</script>


<div id="toJoin">
  <h2>Visit this page on your phone to join</h2>
</div>
<script>
  $('#toJoin').appendTo('#inputOrGoToPhone');
</script>
