body {
  margin: 0px;
}

#texts{
  position: absolute;
  color: #fff;
  line-height: 24px;
  right: 0px;
  top:0px;
}
#toJoin{
  background-color: #00000094;
  padding: 12px;

}
#ranksDiv {
  padding: 12px;
  float: right;
  background-color: #00000094;
}
