body {
  margin: 0px;
}

#ranksDiv{
  max-height: windowHeight/2;
}
#texts{
  position: absolute;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  right: 0px;
  top:0px;
}
#toJoin{
  background-color: #00000094;
  padding: 12px;

}
#ranksDiv {
  padding: 12px;
  float: right;
  background-color: #00000094;
}


input {
  margin: 0 auto;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}
